body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 18px;
}

.nav-bar{
    background-color: #84a59d;
    height: 30px;
    text-align: left;
    padding-top: 8px;
    font-size: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #F7EDE2;
    margin: 10px;
    padding: 7px;
}

.nav-bar a:hover {
    background-color: #74928b;
}

.div-form {
    background-color: #84A59D;
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 5%;
    padding: 0px 10px 20px 10px;
}

.div-form form {
    display: flex;
    flex-direction: column;
}

.div-form input,
.div-form textarea,
.div-form select {
    color: #555454;
    background-color: #fffaf5;
}

.button {
    color: #4D3E51;
    background-color: #fffaf5;
    margin: 5px;
    width: 80px;
    border-radius: 5px;
}

.button-add {
    color: #4D3E51;
    background-color: #F2D0AA;
    margin: 0% 0% 1% 5%;
    width: 85px;
    border-radius: 5px;
}

.button-deactivate {
    color: white;
    background-color: #ec827f;
    margin: 5px;
    width: 80px;
    border-radius: 5px;
}

.div-table {
    background-color: #F2DADE;
    color: #4D3E51;
    width: 90%;
    text-align: center;
    margin: 20px 0px 20px 5%;
}

.div-table thead {
    background-color: #A68D91;
    color: #F6F3F6;
}

.div-table-details {
    background-color: #F2DADE;
    text-align: left;
    width: 90%;
    color: #4D3E51;
    margin: 20px 0px 20px 5%;
}

.div-table-details th {
    background-color: #A68D91;
    color: #F6F3F6;
    width: 190px;
    height: 30px;
}

.div-table-details td {
    color: #4D3E51;
}

.div-edit-form {
    background-color: #F2DADE;
    text-align: left;
    width: 90%;
    color: #4D3E51;
    margin: 60px 0px 20px 5%;
    font-weight: bolder;
}

.div-edit-form label {
    background-color: #A68D91;
    color: #F6F3F6;
    width: 30%;
    height: 100px;
    margin-right: 5px;
    padding: 8px 100px 10px 5px;
}

.text-input {
    background-color: #fffaf5;
    color: #4D3E51;
    width:40%;
    height: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.numeric-input {
    background-color: #fffaf5;
    color: #4D3E51;
    width: 12%;
    height: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea-input {
    background-color: #fffaf5;
    color: #4D3E51;
    width: 50%;
    height: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-activate {
    color: rgb(75, 75, 75);
    background-color: rgb(162, 224, 162);
    margin: 5px;
    width: 80px;
    border-radius: 5px;
}