/*  Colours 
Green #1E5049
Beige #CBAF97   
*/

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* NAVBAR */

.nav-bar{
    background-color: #1E5049;
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 80px 0 100px;
    padding: 7px;
}

.nav-link:hover {
    color: #CBAF97
}

#logo-img {
    padding: 0;
    width: 200px;
    margin: 5px 50px 0 20px;
}

/* PACIENTES PAGE */

.home-page,
.patients-page,
.professionals-page, 
.appointments-page,
.patient-details-page,
.professional-details-page,
.appointment-details-page,
.non-active-patients-page {
    margin: 30px 80px 0 80px;
}

.home-page h2,
.patients-page h2,
.professionals-page h2,
.appointments-page h2,
.non-active-patients-page h2 {
    font-size: 30px;
    color: #1E5049;
    margin: 0;
}

.patient-table,
.professional-table,
.appointment-table {
    background-color: #FFFFFF;
    border: 0px;
    width: 90%;
    text-align: left;
    margin: 0;
}

.patient-table thead,
.professional-table thead,
.appointment-table thead{
    background-color: #CBAF97;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}

.patient-table th,
.patient-table td,
.professional-table th,
.professional-table td,
.appointment-table th,
.appointment-table td{
    margin: 0;
    padding: 5px 0 5px 15px;
}

.patient-table a,
.professional-table a,
.appointment-table a {
    text-decoration: none;
    color: #000000;
}

.patient-table a:hover,
.professional-table a:hover,
.appointment-table a:hover {
    text-decoration: none;
    color: #CBAF97;
}

.button-add-patient,
.button-edit-patient,
.button-add-professional,
.button-edit-professional,
.button-edit-appointment,
.button-add-appointment {
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    height: 35px;
    width: 180px;
    background-color: #CBAF97;
    color: #FFFFFF;
    margin: 20px 20px 20px 0;
}

.button-non-active-patients,
.button-deactivate,
.button-activate,
.past-appointments,
.button-cancel-appointment {
    font-weight: bold;
    border: 2px solid #CBAF97;
    border-radius: 5px;
    height: 35px;
    width: 180px;
    background-color: #FFFFFF;
    color: #CBAF97;
}

/* Form add patient */

.div-add-patient,
.div-add-professional {
    background-color: #CBAF97;
    color: #FFFFFF;
    width: 30%;
    margin: 0 0 20px 0;
    padding: 0px 10px 20px 10px;
}

.form-add-patients,
.form-add-professional {
    display: flex;
    flex-direction: column;
}

.form-add-patients input,
.form-add-patients textarea,
.form-add-professional input,
.form-add-professional select {
    color: #1E5049;
    background-color: #FFFFFF;
}

.button-form {
    border: 0px;
    color: #CBAF97;
    background-color: #FFFFFF;
    font-weight: bold;
    margin: 5px;
    width: 80px;
    border-radius: 5px;
}

/* Patient details page */

.buttons-div-details {
    display: flex;
    justify-content: right;
    align-items: center;
}

.patient-details-table,
.appointment-details-table {
    background-color: #FFFFFF;
    text-align: left;
    width: 100%;
    color: black;
    margin: 0;
}

.professional-details-table {
    background-color: #FFFFFF;
    text-align: left;
    width: 80%;
    color: black;
    margin: 0;
}

.patient-details-table th,
.professional-details-table th,
.appointment-details-table th{
    background-color: #CBAF97;
    color: #FFFFFF;
    text-align: right;
    width: 200px;
    padding: 5px 10px 5px 0;
}

.patient-details-table td,
.professional-details-table td,
.appointment-details-table td{
    background-color: #FFFFFF;
    color: #4D3E51;
    text-align: left;
    padding: 5px 0 5px 10px;
}

.appointment-details-table a {
    text-decoration: none;
    color: #000000;
}

.appointment-details-table a:hover {
    text-decoration: none;
    color: #CBAF97;
}

.appointments {
    display: flex;
    justify-content: left;
}

.appointment {
    background-color: rgb(214, 211, 211);
    width: 100px;
    text-align: center;
    border-radius: 5%;
    padding: 1px 5px 1px 5px;
    margin: 10px;
}

.appointments a {
    text-decoration: none;
    color: black
}

.appointments a:hover {
    background-color: #CBAF97;
    text-decoration: none;
    color: black
}

/* Form edit patient */

.div-edit-form {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
}

.edit-form input,
.edit-form textarea,
.edit-form select {
    width: 100%;
    margin: 8px 0 15px 0;
    font-family: Roboto;
    font-size: 16px;
    height: 30px;
}

.div-edit-form label {
    background-color: #CBAF97;
    text-align: right;
    color: white;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

.button-save-edit {
    border: 0px;
    color: #FFFFFF;
    background-color: #CBAF97;
    font-weight: bold;
    width: 90px;
    border-radius: 5px;
    font-size: 14px;
}

.div-appointment-cards {
    display: flex;
    justify-content: space-between;
}

.appointment-card {
    justify-content: space-between;
    border: 2px solid #b6b3b3;
    width: 300px;
    display: flex;
    padding: 5px;
    margin: 0px 10px 10px 0px;
}

.div-appointment {
    line-height: 20px;
}

.professional-name,
.appointment-details-link {
    color: #1E5049;
    font-weight: bold;
}

.div-professional-details {
    display: flex;
    justify-content: space-around;
}

.professional-pic {
    width: 150px;
    border-radius: 10px;
}